body {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto, sans-serif;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.page-header {
  background: #0072bc;
}

.hat-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .hat-page {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.hat-page .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.hat-page .hat-img {
  width: 90px;
  margin-right: 20px;
}

.hat-page .batton {
  width: 150px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background: #f26522;
  color: #ffffff;
  font-weight: 700;
}

.caption .title {
  margin-bottom: 50px;
}

.caption .section:nth-child(even) {
  background: #6dcff6;
}

@media screen and (min-width: 768px) {
  .proposition {
    text-align: start;
  }
}

.text-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .text-list {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .text-list {
    width: 57%;
  }
}

@media screen and (min-width: 768px) {
  .galery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.galery .title {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .caption .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.list-menu {
  padding: 10px 20px 20px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .list-menu {
    margin-right: 10px;
  }
}

.list-menu .link {
  display: inline-block;
  color: #444444;
}

.list-menu .text {
  margin-top: 15px;
  margin-bottom: 50px;
}

.list-menu .active-link:hover {
  color: #06811a;
}

.title-color {
  color: #8e0000;
}

.img-rol {
  display: block;
  width: 100%;
  height: auto;
}

.section-slider {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-slider .title {
  color: #ffffff;
}

.slider-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .slider-img {
    width: 70%;
  }
}

.list-set {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .list-set {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-list .list-radius {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
}

.slider-list .list-radius:not(:last-child) {
  margin-right: 20px;
}

.copyright {
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: transparent;
}

.copyright p {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.icon-close {
  color: black;
  font-weight: 700;
}

.copyright.is-open .icon-close {
  color: white;
}

.copyright.is-open .icon-menu {
  color: black;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */