// background-color

$color-bg-blue: #0072bc;
$color-bg-orange: #f26522;
$color-bg-section: #6dcff6;
$color-bg-points: #ffffff;

// text-color
$color-white: #ffffff;
$color-grey: #444444;
$color-braun: #8e0000;
$color-green: #06811a;
